python-telegram-bot
openai
openai-whisper
pydub
faiss-cpu
python-dotenv
nest_asyncio
numpy
langchain

# cd C:\russia_base_bot
# python -m venv venv 
# .\venv\Scripts\Activate
# pip install -r requirements.txt
# python bot.py
